.left   { text-align: left;   }
.center { text-align: center; }
.right  { text-align: right;  }

.page > h1 {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: solid 2px;
  border-image: linear-gradient(to top,#a07, #607, #60a) 0 1 100%;
}
.page > h2, .page > h3 {
  padding: 10px;
  margin-bottom: 20px;
}
.page > p {
  margin: 0px 60px;
  padding-bottom: 15px;
  font-size: 20px;
  /* white-space: pre-line; */
  text-align: justify;
  /* text-indent: 20px; */
  &:first-of-type:first-letter {
    -webkit-initial-letter: 2 1;
    initial-letter: 2 1;
    padding-right: 3px;
    color: #607;
  }
}
.page > ul {
  margin: 0px 60px;
  padding-bottom: 15px;
  font-size: 20px;
  text-align: justify;

  list-style-position: inside;
}

.page > div {
  padding: 30px 30px 45px;
}

.grid-dataset { 
  display: grid; 
  grid-template-columns: auto auto;
  width: 200px;
  border: 1px solid #222;

}
.grid-dataset > div {
  border: 1px solid #222;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}
